numpy==2.4.6
transforms3d==0.4.2
pyserial==3.5
pigpio
RPi.GPIO==0.7.1
spidev==3.8
sysv_ipc==1.2.0
evdev==2.0.0
pyftdi==0.57.2
pyusb==1.3.1
typing_extensions==4.16.0
adafruit-blinka==9.2.0
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-pca9685==3.4.22
adafruit-circuitpython-register==1.13.0
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-typing==1.12.3
adafruit-platformdetect==3.89.1
adafruit-pureio==1.1.11
Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
